__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.env.*
data/*.db
data/*.sqlite
data/*.db-journal
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
*.log
.DS_Store
coverage.xml
.coverage
*.pickle
.hypothesis/
venv/
.venv/
